/* @keyframes moveOrb {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(var(--width), var(--height));
    }
    100% {
      transform: translate(0, 0);
    }
  } */
  
  .orb {
    width: 100%;
    height: 70vh;
    position: absolute;
    border-radius: 50%;
    /* margin-left: -37vh;
    margin-top: -37vh; */
    background: linear-gradient(180deg, rgb(102, 171, 245) 0%, rgb(242, 211, 74) 100%);
    filter: blur(280px);
    /* animation: moveOrb 10s alternate linear infinite; */
  }
  